<p>
    <a href={{ .Get "url" }} target="_blank" class="text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral">
        {{ .Get "authors" | emojify }}. <b>{{ .Get "title" | emojify }}</b>. In <i>{{ .Get "journal" | emojify }}</i>, {{ .Get "year" | emojify }}.
        <span class="text-xs align-top cursor-default text-neutral-400 dark:text-neutral-500">
            <span class="rtl:hidden">&#8599;</span>
            <span class="ltr:hidden">&#8598;</span>
        </span>
    </a>
</p>
